:root{
    --bordercolor: #FFF4DF;
    --iconlogo: #FF7B00;
    --lightcolor: #F5F5F5;
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --bgcolor: #F6AD88;
    --cardborder:#F78C47;
    --hover: #FF5F1F 0px 8px 24px;
}